@model Tuple<
    IEnumerable<Enterprise_Dot_Net_Core_WebApp.Core.Entities.Enterprise_MVC_Core>,
    IEnumerable<Enterprise_Dot_Net_Core_WebApp.Core.DTOs.Messages>
    >
@{
    ViewData["Title"] = "Index";
}

<h1>Proxy - Index</h1>
<br />
<p>
    <table>
        <tbody>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        Service: @Html.DisplayFor(modelItem => item.Message)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Age)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
            </tr>
        }
    </tbody>
</table>

