@model Tuple<
            IEnumerable<Enterprise_Dot_Net_Core_WebApp.Core.Entities.Enterprise_MVC_Core>,
            IEnumerable<Enterprise_Dot_Net_Core_WebApp.Core.Entities.Enterprise_MVC_Core>
        >
@{
    ViewData["Title"] = "Index";
}

<h1>State - Index</h1>

<h4><b>First request</b></h4>
<br />
<table class=" table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().ID)</th>
            <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(m => m.Item1.FirstOrDefault().Age)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.ID)</td>
                <td>@Html.DisplayFor(i => item.Name)</td>
                <td>@Html.DisplayFor(i => item.Age)</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4><b>Second request</b></h4>
<br />
<table class=" table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Item2.FirstOrDefault().ID)</th>
            <th>@Html.DisplayNameFor(m => m.Item2.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(m => m.Item2.FirstOrDefault().Age)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.ID)</td>
                <td>@Html.DisplayFor(i => item.Name)</td>
                <td>@Html.DisplayFor(i => item.Age)</td>
            </tr>
        }
    </tbody>
</table>